<%= provide(:title, "Home") %>		
<%= render "partials/hdr" %>		
<div class="pg-container bg-white">
<div id="rev-top">
	<div class="container">
		<div class="row">
			<div class="span4">
				<%= image_tag "uk-map.jpg" %>		
			</div>
			<div class="span8">
				<h1>O, the places you'll go!</h1>
				<blockquote>
					"We want to officially extend an invitation to serve in the MTW's ministry in the United Kingdom...we do believe you are called to be a part of MTW's work in this country. We understand that you are committing to stay on the field for long term...We are anticipating your ministry would help facilitate church planting in London."
				</blockquote>	
				<p>After serving as a PCA pastor and raising children for the last 20+ years, we are unlikely missionaries. But as we approached an empty nest, God began to take us on a journey of adventure and even deeper dependence on Him.</p>
				<p><%= link_to "Read more of our story...", pages_about_path %></p>
				<p>To give you a better idea of our current support level and where we need to get to, we have generated a <%= link_to "visual representation", "/where-we-stand.pdf", target: "_blank" %>.</p>
			</div>
		</div>
	</div>
</div>


<div class="container" id="boxes">
	<div class="row">
		<div class="span4">
			<h4><i class="icon-screenshot icon-heading red"></i>About Us</h4>
			<p class="padr20"><%= image_tag "bing_stacy_11-15.jpg" %></p>		
			<p><%= link_to "Read our story", pages_about_path, class: "btn btn-small" %></p>
			
		</div>
		<div class="span4">
			<h4><i class="icon-screenshot icon-heading red"></i>The Vision</h4>
			<p class="padr20">The call to the United Kingdom is to work with existing church plants undertaken by partnerministries in London. We will begin our ministry working with church planters in various parts of London, most of them very diverse ethnically.</p>
			<p><%= link_to "Read More", pages_mission_path, class: "btn btn-small" %></p>
		</div>
		<div class="span4">
			<h4><i class="icon-screenshot icon-heading red"></i>The Need</h4>
			<p>In the last 50 years, the geographic center of Christianity has moved South and East. <em class="red">In the UK and on the European continent, what we historically call "Christendom," the home of vital and missional Christianity for centuries, Christianity is dying.</em> In the UK the evangelical population amounts to...</p>
			<p><%= link_to "Read More", pages_mission_path, class: "btn btn-small" %></p>
		</div>
		
	</div>
</div>
<%= render "partials/ftr" %>		