<p>This email notification has been sent because someone has contacted you via the website.</p>

<p><strong>Contact Name:</strong><br>
<%= @contact.first_name + " " + @contact.last_name %></p>
<p><strong>Contact Email:</strong><br>
<%= @contact.email %></p>
<p><strong>Contact Phone:</strong><br>
<%= @contact.phone %></p>
<p><strong>Contact Church/Organization:</strong><br>
<%= @contact.church %></p>
<p><strong>Contact Message:</strong><br>
<%= @contact.message %></p>