<div class="container">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.collection_select :blog_id, Blog.all, :id, :name, prompt: "Select a blog" %>        
  </div>
  <div class="field">
    <p>
      Categories:<br>
      <%= hidden_field_tag "post[category_ids][]", nil %>
      <% Category.all.each do |category| %>
        <%= check_box_tag "post[category_ids][]", category.id, @post.category_ids.include?(category.id), id: dom_id(category) %> 
        <%= label_tag dom_id(category), category.name %>
      <% end %>    
    </p>
  </div>
  <div class="field">
    <%= f.hidden_field :status, value: "Draft" %> 
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: "redactor", id: "redactor" %>
  </div>
  <div class="field">
    <%= f.label :published_on %><br />
    <%= f.date_select :published_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
